.last-list {
  margin-right: 200px;
}

.black_text{
  color: black !important;
}

a { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none !important; 
} 

li {
  display: inline-block;
  padding-right: 20px;
}

/* .active {
  border: 1px solid #ff4b4c;
  padding: 8px;
} */

.head-section {
  float: right;
  margin-top: -32px;
}

header {
  height: 70px;
}

.logo {
  padding-top: 20px !important;
}

.btn-start {
  margin-right: -30px !important;
  background-color: rgb(102, 226, 102);
  color: white;
  border: 0px;
}
.container{
  margin-bottom: 100px;
}

.welcome-container {
  height: 500px;
  margin-bottom: 130px;
  background-image: url('../img/man-smiling.jpg');
  background-size: cover;
  background-position: 1px;
}
.welcome-container2 {
  height: 500px;
  margin-bottom: 130px;
  background-image: url('../img/about.jpg');
  background-size: cover;
  background-position: 1px;
}
.welcome-container3 {
  height: 500px;
  margin-bottom: 130px;
  background-image: url('../img/contact.jpg');
  background-size: cover;
  background-position: 1px;
}
.welcome-container4 {
  height: 500px;
  margin-bottom: 130px;
  background-image: url('../img/services.jpg');
  background-size: cover;
  background-position: 1px;
  background-repeat: no-repeat;
}
.welcome-container5 {
  height: 500px;
  margin-bottom: 130px;
  background-image: url('../img/agric.jpg');
  background-size: cover;
  background-position: 1px;
  background-repeat: no-repeat;
}

.welcome-text {
  float: right;
  right: 17.5%;
  width: 350px;
  top: 50%;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: large;
}
.welcome-text2 {
  top: 30%;
  text-align: center;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.second-sec {
  margin-top: 120px;
}

footer {
  background-color: black;
  color: white;
  height: 100px;
  text-align: center;
}

footer > p {
  position: relative;
  top: 50%;
}

/* contact us style */
body {
  margin: 0;
  padding: 0;
  
}

#contact {
  width: 100%;
  height: 100vh;
  background-color: #111;
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 900px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-weight: 400;
}

.form-control, textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.mobile_nav{
  display: none;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {

  .mr-auto{
    height: 100vh;
    background-color: #fff;
    width: 100vw;
    padding-top: 80px;
  }

  .navbar-toggler{
    float: right;
  }
  .invert{
    flex-direction: column-reverse;
  }
  .welcome-text {
    float: right;
    right: 10.5%;

  }
  .desktop_nav{
    display: none;
  }
  .mobile_nav{
    display: inline;
  }
    #contact {
        height: 1000px;
    }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .navbar-toggler{
    display: block;
    color: #111 !important;
  }
 
  #contact {
    height: 1200px;
    }
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}


/* services page styling */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container2 {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    'A'
    'B' 
    'C'
    'D'   
    'E';
}
@media (min-width: 576px) {
  .container2 {
    grid-template-columns: 1.52fr 1fr 1fr 1.525fr;
    grid-template-areas:
      'A  B  C  E'
      'A  D  D  E';
  } 
}

img:nth-child(1) {
 grid-area: A;
}
img:nth-child(2) {
 grid-area: B;
}
img:nth-child(3) {
 grid-area: C;
}
img:nth-child(4) {
 grid-area: D;
}
img:nth-child(5) {
 grid-area: E;
}
img {
  width: 100%;
  height: auto;
}
